In [18]:
import pandas as pd 
import numpy as np 
from scipy import stats

# Desafio Módulo 03 Codenation AceleraDev Data Science

# Conhecendo melhor nossa base de consumidores: qual estado possui os clientes com melhores pontuações de crédito?

## Objetivo

Queremos conhecer melhor nossos clientes por estado. Para isso, iniciamos uma análise na pontuação de crédito. 
Para realizar a verificação inicial, precisamos de alguns valores.
Os valores são a média, a mediana, a moda e o desvio padrão da pontuação de crédito.

In [53]:
#import dataframe
df_score = pd.read_csv('desafio1.csv')
df_score.head(5)

,RowNumber,id,sobrenome,pontuacao_credito,estado_residencia,genero,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
0,1,e7f44fcbd380d4cef7e6c232cc7e37895c3fd197,6d6e0aa1b9b413e442e2fb68df14b4fc3f91de50,619,SC,F,42,2,0.00,1,1,1
1,2,28dcb083ad90512da16b9430085c2cddb8ca5e12,48e1ad846796fa314f1b4a6702b83343eb5482c5,608,RS,F,41,1,83807.86,1,0,1
2,3,774bc378f787438c9c7594e536787d07a097a54b,f2b29d5d934de615812b697132e767dea0f1e9e2,502,SC,F,42,8,159660.80,3,1,0
3,4,043a71326f7096de155e7f0c559dc62b5e4b7239,85d5c9da7cddd8109ad32a6c348fe2bb10bf99f2,699,SC,F,39,1,0.00,2,0,0
4,5,37b3bb8ca243955fb3605ec7e1c2a4607cdb3b22,ddc89c837a6933639de75f28171057060bd322df,850,RS,F,43,2,125510.82,1,1,1

In [54]:
#tamanho do datframe
df_score.shape

(7000, 12)

In [55]:
#validando os tipos das variáveis
df_score.dtypes

RowNumber                     int64
id                           object
sobrenome                    object
pontuacao_credito             int64
estado_residencia            object
genero                       object
idade                         int64
nivel_estabilidade            int64
saldo_conta                 float64
numero_produtos               int64
possui_cartao_de_credito      int64
membro_ativo                  int64
dtype: object

In [56]:
#criando metadados
df_aux = pd.DataFrame({
    'colunas': df_score.columns,
    'tipos' : df_score.dtypes,
    'Nan #' : df_score.isna().sum(),
})
df_aux

                                           colunas    tipos  Nan #
RowNumber                                RowNumber    int64      0
id                                              id   object      0
sobrenome                                sobrenome   object      0
pontuacao_credito                pontuacao_credito    int64      0
estado_residencia                estado_residencia   object      0
genero                                      genero   object      0
idade                                        idade    int64      0
nivel_estabilidade              nivel_estabilidade    int64      0
saldo_conta                            saldo_conta  float64      0
numero_produtos                    numero_produtos    int64      0
possui_cartao_de_credito  possui_cartao_de_credito    int64      0
membro_ativo                          membro_ativo    int64      0

In [57]:
#avaliando os estados presentes no dataset
df_score['estado_residencia'].unique()

array(['SC', 'RS', 'PR'], dtype=object)

In [58]:
#calculando os dados por estado
df_score = df_score.groupby('estado_residencia')['pontuacao_credito'].agg(['mean','median','std',lambda x: stats.mode(x)[0]])
df_score

                         mean  median        std  <lambda_0>
estado_residencia
PR                 648.961294     650  98.607186         850
RS                 651.105143     650  95.136598         850
SC                 649.537653     653  97.233493         850

In [59]:
#renomeando as colunas
df_score.rename(columns={
    'mean':'media',
    'median':'mediana',
    'std':'desvio_padrao',
    '<lambda_0>':'moda'
},inplace=True)

In [60]:
#reset do index
df_score = df_score.reset_index()

In [43]:
#pivot da tabela para gerar a exportação no modelo exigido de Json.
df_export = pd.pivot_table(df_score,values=['media','mediana','moda','desvio_padrao'],columns='estado_residencia')

In [61]:
#exportando os dados para Json
df_export.to_json('submission.json')